<web-app>
	<servlet>
		<servlet-name>HelloServletMapping</servlet-name>
		<servlet-class>ch03.HelloServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SeasonServletMapping</servlet-name>
		<servlet-class>ch03.SeasonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GuessServletMapping</servlet-name>
		<servlet-class>ch04.GuessServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JapaneseServlet1Mapping</servlet-name>
		<servlet-class>ch05.JapaneseServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JapaneseServlet2Mapping</servlet-name>
		<servlet-class>ch05.JapaneseServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MimeTypeServlet1Mapping</servlet-name>
		<servlet-class>ch05.MimeTypeServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MimeTypeServlet2Mapping</servlet-name>
		<servlet-class>ch05.MimeTypeServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OutputHtmlServletMapping</servlet-name>
		<servlet-class>ch05.OutputHtmlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Practice0501ServletMapping</servlet-name>
		<servlet-class>ch05exercise.Practice0501Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostReceiptServletMapping</servlet-name>
		<servlet-class>ch08.PostReceiptServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetReceiptServletMapping</servlet-name>
		<servlet-class>ch08.CommonReceiptServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommonReceiptServlet1Mapping</servlet-name>
		<servlet-class>ch08.CommonReceiptServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommonReceiptServlet2Mapping</servlet-name>
		<servlet-class>ch08.CommonReceiptServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdditionReceiptServlet1Mapping</servlet-name>
		<servlet-class>ch08.AdditionReceiptServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdditionReceiptServlet2Mapping</servlet-name>
		<servlet-class>ch08.AdditionReceiptServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Practice0802ServletMapping</servlet-name>
		<servlet-class>ch08exercise.Practice0802Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UseForwardServlet1Mapping</servlet-name>
		<servlet-class>ch09.UseForwardServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UseForwardServlet2Mapping</servlet-name>
		<servlet-class>ch09.UseForwardServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeForwardServletMapping</servlet-name>
		<servlet-class>ch09.ChangeForwardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Practice0902ServletMapping</servlet-name>
		<servlet-class>ch09exercise.Practice0902Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UseCookieFormServletMapping</servlet-name>
		<servlet-class>ch10.UseCookieFormServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UseCookieFormServlet2Mapping</servlet-name>
		<servlet-class>ch10.UseCookieFormServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UseRequestServlet1Mapping</servlet-name>
		<servlet-class>ch11.UseRequestServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UseRequestServlet2Mapping</servlet-name>
		<servlet-class>ch11.UseRequestServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UseSessionServletMapping</servlet-name>
		<servlet-class>ch12.UseSessionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UsefulRangeServletMapping</servlet-name>
		<servlet-class>ch12.UsefulRangeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UseSessionFormServlet1Mapping</servlet-name>
		<servlet-class>ch12.UseSessionFormServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UseSessionFormServlet2Mapping</servlet-name>
		<servlet-class>ch12.UseSessionFormServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Practice1201ServletMapping</servlet-name>
		<servlet-class>ch12exercise.Practice1201Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectServlet1Mapping</servlet-name>
		<servlet-class>ch13.SelectServlet1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectServlet2Mapping</servlet-name>
		<servlet-class>ch13.SelectServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectServlet3Mapping</servlet-name>
		<servlet-class>ch13.SelectServlet3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertServletMapping</servlet-name>
		<servlet-class>ch13.InsertServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateServletMapping</servlet-name>
		<servlet-class>ch13.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServletMapping</servlet-name>
		<servlet-class>ch13.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Practice1301ServletMapping</servlet-name>
		<servlet-class>ch13exercise.Practice1301Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Practice1302ServletMapping</servlet-name>
		<servlet-class>ch13exercise.Practice1302Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloServletMapping</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SeasonServletMapping</servlet-name>
		<url-pattern>/SeasonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GuessServletMapping</servlet-name>
		<url-pattern>/GuessServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JapaneseServlet1Mapping</servlet-name>
		<url-pattern>/JapaneseServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JapaneseServlet2Mapping</servlet-name>
		<url-pattern>/JapaneseServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MimeTypeServlet1Mapping</servlet-name>
		<url-pattern>/MimeTypeServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MimeTypeServlet2Mapping</servlet-name>
		<url-pattern>/MimeTypeServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OutputHtmlServletMapping</servlet-name>
		<url-pattern>/OutputHtmlServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Practice0501ServletMapping</servlet-name>
		<url-pattern>/Practice0501Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostReceiptServletMapping</servlet-name>
		<url-pattern>/PostReceiptServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetReceiptServletMapping</servlet-name>
		<url-pattern>/GetReceiptServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommonReceiptServlet1Mapping</servlet-name>
		<url-pattern>/CommonReceiptServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommonReceiptServlet2Mapping</servlet-name>
		<url-pattern>/CommonReceiptServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdditionReceiptServlet1Mapping</servlet-name>
		<url-pattern>/AdditionReceiptServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdditionReceiptServlet2Mapping</servlet-name>
		<url-pattern>/AdditionReceiptServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Practice0802ServletMapping</servlet-name>
		<url-pattern>/Practice0802Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UseForwardServlet1Mapping</servlet-name>
		<url-pattern>/UseForwardServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UseForwardServlet2Mapping</servlet-name>
		<url-pattern>/UseForwardServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeForwardServletMapping</servlet-name>
		<url-pattern>/ChangeForwardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Practice0902ServletMapping</servlet-name>
		<url-pattern>/Practice0902Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UseCookieFormServletMapping</servlet-name>
		<url-pattern>/UseCookieFormServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UseCookieFormServlet2Mapping</servlet-name>
		<url-pattern>/UseCookieFormServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UseRequestServlet1Mapping</servlet-name>
		<url-pattern>/UseRequestServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UseRequestServlet2Mapping</servlet-name>
		<url-pattern>/UseRequestServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UseSessionServletMapping</servlet-name>
		<url-pattern>/UseSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsefulRangeServletMapping</servlet-name>
		<url-pattern>/UsefulRangeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UseSessionFormServlet1Mapping</servlet-name>
		<url-pattern>/UseSessionFormServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UseSessionFormServlet2Mapping</servlet-name>
		<url-pattern>/UseSessionFormServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Practice1201ServletMapping</servlet-name>
		<url-pattern>/Practice1201Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectServlet1Mapping</servlet-name>
		<url-pattern>/SelectServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectServlet2Mapping</servlet-name>
		<url-pattern>/SelectServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectServlet3Mapping</servlet-name>
		<url-pattern>/SelectServlet3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertServletMapping</servlet-name>
		<url-pattern>/InsertServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServletMapping</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServletMapping</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Practice1301ServletMapping</servlet-name>
		<url-pattern>/Practice1301Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Practice1302ServletMapping</servlet-name>
		<url-pattern>/Practice1302Servlet</url-pattern>
	</servlet-mapping>
</web-app>